*{
    margin: 0px;
}

ul, ol{
    list-style: none;
}

body{
    background-color: #f1dda5;
}

/* <header> */
    header{
        width: 100%;
        background-image: url("../imagenes/huaca-pullacna.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section-logo-nav{
        display: flex;
        padding: 10px;
        flex-direction: row;
        justify-content: end;
    }

    /* <logo> */
        #img-logo{
            display: block;
            padding: 5px;
            margin-left: 30px;
            margin-top: 10px;
            margin-right: auto;
            margin-bottom: auto;
            width: 200px;
        }
        #img-logo img{
            width: 100%;
        }
    /* <logo> */

    /* <nav> */
        #nav-section{
            margin: auto;
            width: 80%;
            font-family:'Times New Roman', Times, serif;
            font-size: 25px;
            display: flex;
            justify-content: end;
            padding-right: 50px;
        }
        #nav-ul{
            display: flex;
        }
        #nav-ul li a{
        background-color:rgb(197, 147, 54);
        border: 1px solid rgb(197, 147, 54) ;
        border-radius: 15px;
        color:white;
        text-decoration: none;
        padding: 10px 50px;
            display: block;
        }
        #nav-ul li a:hover{
            background-color:rgb(151, 102, 22);
        }
        #nav-ul>li {
            float: left;
        }
        #nav-ul li ul{
            display: none;
            position: absolute;
            min-width: 140px;
        }
        #nav-ul li:hover>ul{
            display: block;
        }
    /* </nav> */

    #section-descripcion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #articulo-1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
    }
    #articulo-1 h1{
        font-size: 40pt;
        margin: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;
    }
    #articulo-1 p{
        width: 80%;
        margin: 20px 10px;
        padding: 10px;
        background-color: papayawhip ;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        float: right;
        font-family:  Arial;
        border-radius: 5px;
        font-size: 12pt;
    }
    #articulo-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }
    #articulo-2 p{
        width: 80%;
        margin: 20px 10px;
        padding: 10px;
        background-color: papayawhip ;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        float: left;
        font-family:  Arial;
        border-radius: 5px;
        font-size: 12pt;
    }
/* </header> */


/* <main> */
    main{
        display: flex;
        flex-direction: column;

    }
    #section-paquetes{
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .articulo-paquete{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: gainsboro;
        margin: 10px 20px 10px 20px; 
        font-size: 10pt;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        border: 4px solid rgb(176, 123, 48);
    }
    .articulo-paquete img{
        width: 350px;
        height: 200px;
    }
    .articulo-paquete h3{
        padding: 6px;
        color: rgb(176, 123, 48);
    }

    /* <recomendaciones> */
        #section-recomendaciones{
            display: flex;
            flex-direction: column;
        }
        #section-recomendaciones img{
            width: 100%;
            height: 100%;
        }
        .h3{
            margin: 10px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;
        }
    /* <recomendaciones> */

    aside{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
/* </main> */


/* <footer> */
    footer{
        margin-bottom: 0px;
        margin-top: auto;
        background: #202020;
        color: white;
        width: 100%;
    }
    footer section{
        display: flex;
        margin-right: 10px;
        justify-content: center;
        justify-content: space-between;
    }
    .box-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .box-footer p{
        margin: 0px;
    }
    .box-footer a{
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;
    }
    .box-footer a:hover{
        opacity: 0.8;
    }
    .redes-sociales{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .nominaciones{
        display: flex;
        width: 50px;
    }
    .nominaciones img{
        width: 100%;
    }
    .icono{
        display: flex;
        height: 40px;
    }
    .icono p{
        margin: 0px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .icono img{
        width: 40px;
    }
    .logo{
        width: 100px;
        margin: 10px;
        display: block;
        margin-top: 10px;
        margin-bottom: auto;
    }
    .logo img{
        width: 100%;
    }
    .box-copyright{
        color: #7a7a7a;
        text-align: center;
    }
    .box-copyright hr{
        margin: 0px 0px 0px 30px;
        border: 1px solid gray;
        justify-content: center;
        width: 95%;
    }
/* </footer> */